<?xml version="1.0" encoding="iso-8859-1"?>
<configuration>
	<session>
		<top><![CDATA[C:/masm32]]></top>
		<hash function="md5" />
		<file maxsize="4096" />
		<extensions>
			<extension value="" />
		</extensions>
		<denyrules>
			<rule><![CDATA[NtUninstall]]></rule>
			<rule><![CDATA[Microsoft.NET]]></rule>
			<rule><![CDATA[pdk-]]></rule>
		</denyrules>
	</session>
	<files>
		<output>db.xml</output>
		<sigdb>ddb1.xml</sigdb>
		<report>report.xml</report>
		<errors>errors.xml</errors>
	</files>
</configuration>